@import '../../styles/styles';

nav {
  padding: 0 20px;
  background-color: $nav-backgroundcolor;

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      color: $text;
      .logo-text {
        color: $text;
        font-family: 'Roboto', sans-serif;
        font-size: 18pt;
        font-weight: 400;
        margin-left: 10px;
      }
    }

    .searchCity {
      display: flex;
      align-items: center;
      width: 50%;

      .icon {
        color: $text;
      }

      input {
        color: $text;

        &::-webkit-input-placeholder {
          color: $text;
        }
      }

      .btn {
        margin-left: 10px;
        margin-bottom: 10px;
      }

    }
  }

  .openCityList {
    position: absolute;
    top: 65px;
    right: 0;
    display: block;
    height: 400px;
    width: 50%;
    max-width: 50%;
    background: $nav-backgroundcolor;
  }

  .closeCityList {
    display: none;
  }
}

.container {
  width: 90%;


}
